<div class="main-wrapper">
  <!-- <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" [routerLink]="['/menu']">
      <span class="navbar-toggler-icon"></span> Menu
    </button>
  </nav> -->
  <div class="container-fluid">
    <div class="mainframe">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <hr />
  <footer class="page-footer">
    <div class="footer-copyright text-center py-3">
      <small>&copy; TheSamwiser</small>
    </div>
  </footer> -->
</div>
